*, body {
}

hr {
	margin: 0;
}

:focus {
	background:white;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

.container {
  @include breakpoint(small) {
    padding: 0rem 1rem;
  }
  @include breakpoint(medium) {
    padding: 0rem 1rem;
  }
}

[class*="block-grid-"] {
  margin: 0;
}

//splash

.horizon {
  position: relative;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible;
  visibility: visible;
  display: block;
}

//issue intro

.issue-intro {  
  @include dead-center(425px, 242px);
  @include breakpoint(small) {
    @include dead-center(100%, 200px);
  }
}

.coverpage {
  position: relative;
}

#login {
  margin-top: 5rem;
}