.button {
  color: $white;
  background: $goose;
  border: none;
  font-size: 1rem;
  &:hover {
    background: lighten($branding-color, 10%);
  }
  &.secondary {
    background: none;
    font-size: 1rem;
    color: $white;
    border: 1px $white solid;
    &:hover {
      background: $white-trans;
      color: $branding-color;
    }
  }
  &.mc {
    font-size: 1rem;
    padding: 0.65rem 1.5rem ;
  }
}