.fixed {
  background: $white-trans !important;
}

.navigation {
  height: 4rem;
  .top-bar {
    background: none !important;
    height: 4rem;
    @include breakpoint(medium) {
      padding-left: 1rem;
    }
    @include breakpoint(small) {
      padding-left: 1rem;
    }
    .name {
      padding-top: 0.75rem;
      width: 20rem;
      img {
        display: inline-block;
        float: left;
        height: 40px;
        width: 40px;
      }
      h1 {
        display: inline-block;
        float: left;
        a {
          width: 100%;
        }
      }
    }
    &-section {      
      * {
        background: none !important;
      }
      .right {
        * { 
          height: 50px;
          height: 4rem;          
        }
      }
      // dropdown list
      .dropdown li a {  
        background: $white-trans !important;
      }
      // drop arrow
      .has-dropdown > a:after {
        border-color: $black transparent transparent transparent;
        margin-top: 7px;
      }
      li:not(.has-form) a:not(.button) {
        padding-top: 0.4375rem;
      }
    }
  }
}

//footer

footer {
  height: inherit;
  padding: 3rem 1rem 3rem 1rem;
  bottom: 0;
  width: 100%;
  background: $goose-light;
  @include breakpoint(small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}