.issue-index {
  margin-top: 0rem;
}

.post-header {
  margin-bottom: 2rem;
}

.post-body {
  margin-top: 2rem;
}

.post {
  &-meta {
    margin-bottom: 1rem;
  }
  &-image {
    width: 100%;
  }
  &-intro {
    @include breakpoint(small) {
      margin: 0rem -1rem;
    }
    @include breakpoint(medium) {
      margin: 0rem -1rem;
    }
  }
}

// related list
.post-related {
  &-list {
    margin-top: 2rem;
  }
  &-articles {
    list-style: none;
    display: inline-block;
    margin-left: 0;
    margin-right: 1rem;
    float: left;
    li {
      margin-left: 0;
    }   
  }
}
// issue index

li.issue-index {  
  &-article {
    padding-top: 0.5rem;    
  }
}

.issue-index {
  background: lighten($goose, 10%);
  &-intro {
    height: 1rem;
  }
  &-list {
  }
  &-article {
    padding-top: 1rem;
    &:hover {
      opacity: 0.9;
    }
    &-body {
      padding-top: 1rem;
    }
  }
}

