/* ============================ 
	Colors
============================ */

$branding-color: hsla(235,41%,44%,1.0);
$gray: hsla(0,0,91%,1);
$white: hsla(0,0,100%,1);
$black: hsla(0,0,0%,1);
$white-trans: hsla(0,0,100%,0.85);
$gray-dark: hsla(0,0,35%,1);
$goose-light: hsla(70, 8%, 95%, 1.0);
$gray-warm: hsla(54, 21%, 86%, 1.0);

// post colors

$spice: hsla(23, 66%, 55%,1.0);
$goose: hsla(70, 8%, 75%, 1.0);
$monsoon: hsla(68, 25%, 41%,1.0);
$gold: hsla(45, 61%, 39%, 1.0);
$olive: hsla(60, 13%, 83%, 1.0);

/* ============================ 
	Typography
============================ */

$body-font: "Graphik", Helvetica, Arial, sans-serif;
$text-font: "minion-pro", Times, serif;
$cn-font: "FZYXJW", "Microsoft Yahei", STXihei, sans-serif;
$icon-font: "FontAwesome", Times, serif;

$heavy-text:900;
$medium-text:400;
$light-text:200;

$underline: 0.0625rem dotted;

/* ============================ 
	Borders
============================ */

$border-thick: 0.125rem $black solid;
$border-thin:  0.125rem $gray solid;
