<div class="clearfix">       
  <div class="large-12 columns alpha beta"> 
  <div ng-include="navigation.url"></div> 
  <div class="container">
    <div class="post-intro  clearfix"> 
      <div class="post row">    
        <div class="post-image small-12 columns alpha beta">
          <img src="{{ article.articleimages[0].feature }}" alt="feature image" class="lazy">
          <p class="post-image-caption">          
          </p>
        </div>
      </div>
    </div>
    <div class="row post-content">
      <div class="post-body small-12 medium-7 large-6 medium-offset-1 large-offset-0 columns alpha beta right">
      <div class="show-for-small-only">
        <h1 class="post-title">{{article.articletitle}}</h1>        
        <p class="post-teaser">{{article.articleteaser}}</p>
      </div>
      <div btf-markdown ng-include="markdown">
      </div>
      </div>
      <div class="post-related medium-4 left beta alpha">
        <div class="show-for-medium-up">
          <h1 class="post-title">{{article.articletitle}}</h1>        
          <p class="post-teaser">{{article.articleteaser}}</p>
        </div>
        <div class="post-meta small-12 columns alpha beta end">
          <div class="post-related-list">
            <h4>in this issue</h4>
            <ul class="post-related-articles medium-8 columns alpha">
              <li ng-repeat="articles in issueList[0].issuearticles | filter:{'articlelanguage':lan}">
                <a href="/{{lan}}/articles/{{articles.articleslug}}">
                  <img data-original="{{ articles.articleimages[0].feature }}" ng-src="/img/blank.gif" alt="" class="lazy">
                  <h5>{{articles.articletitle}}</h5>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> 
  </div>
</div>

<div ng-include="footer.url"></div> 