<div class="navigation" ng-controller="MainController">
  <div class="fixed navigation">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <a href="/{{lan}}">
            <img src="/img/branding.png" alt="branding">
          </a>
          <h1 class="branding-title"><a href="/{{lan}}"><span class="bold">Octave</span> journal</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="new-article">
            <a href="/en/article-new">New Article</a>
          </li>
          <li class="cn-language">
            <a href="/cn">&#20013;&#25991;</a>
          </li>
          <li class="divider"></li>
          <li><a href="/en">EN</a></li>
        </ul>
        <!-- Left Nav Section -->
      </section>
    </nav>
  </div>
</div>