<div class="clearfix">       
  <div class="large-12 columns alpha beta"> 
  <div ng-include="navigation.url"></div> 
  <div class="container">
  <form ng-submit="addArticle()">
    <div class="post-intro clearfix"
          ng-file-drop 
          ng-model="newArticle.image"
          accept="image/*"
          allowDir="false"
          drag-over-class="{accept:'dragover-ok', reject:'dragover-err', delay:100}"
          > 
      <div class="post row">    
        <div 
          class="post-image small-12 columns alpha beta"
          >
          <div class="post-image-input clearfix"></div>
          <p class="post-image-caption">          
          </p>
        </div>
      </div>
    </div>
    <div class="row post-content">
      <div class="post-meta small-12 columns">
        <h4>Article Meta Data</h4>
        <select name="Issue" id="issue-select" class="small-12 medium-3 columns left">
          <option value="" default selected>Issue</option>
        </select>
        <select name="Category" id="category-select" class="small-12 medium-3 columns left">
          <option value="" default selected>Category</option>
        </select>
        <div class="small-12 medium-4 left">          
          <input type="text" placeholder="tag1, tag2, tag3" ng-model="newArticle.tags" name="tags" class="post-tags-input">
        </div>
      </div>
      <div class="post-body small-12 medium-7 large-6 medium-offset-1 large-offset-0 columns alpha beta right">
        
        <div class="show-for-small-only">
          <textarea ng-model="newArticle.title" name="atitle" class="post-title-input" placeholder="Article Title"></textarea>
          <textarea ng-model="newArticle.teaser" name="ateaser" class="post-teaser-input" placeholder="Article Teaser" maxlength="125"></textarea>
        </div>
        
        <textarea class="post-content-input" ng-model="newArticle.content" placeholder="Article content"></textarea>

        <div class="post-buttons small-12 columns beta">
          <input type="submit" value="save" class="button small">
        </div>

      </div>
      <div class="post-related medium-4 left beta alpha">
        <div class="show-for-medium-up" id="addarticle">
          <textarea ng-model="newArticle.title" name="atitle" class="post-title-input" placeholder="Article Title"></textarea>
          <textarea ng-model="newArticle.teaser" name="ateaser" class="post-teaser-input" placeholder="Article Teaser" maxlength="125"></textarea>
        </div>
      </div>
    </div>
  </form>
  </div> 
  </div>
</div>

<div ng-include="footer.url"></div> 